@import "tailwindcss";

/* Custom Fonts */
@font-face {
  font-family: 'Astro';
  src: url('../src/assets/fonts/AstroMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Astro';
  src: url('../src/assets/fonts/AstroMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Astro';
  color-scheme: light dark;
  background-color: #dcdcdc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}