@import "tailwindcss";

/* Custom Fonts */
@font-face {
  font-family: 'Astro';
  src: url('../src/assets/fonts/AstroMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Astro';
  src: url('../src/assets/fonts/AstroMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Astro';
  color-scheme: light dark;
  background-color: #dcdcdc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* .custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  will-change: transform;
} */

/* Only hide cursor for desktop */
/* @media (min-width: 768px) {
  a, button, .project-item, [data-cursor="hover"] {
    cursor: none;
  }
} */

/* Mobile keeps default cursor */
/* @media (max-width: 767px) {
  a, button, .project-item, [data-cursor="hover"] {
    cursor: auto;
  }
} */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aeaeae99;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}